<h1></h1>
<jhi-alert-error></jhi-alert-error>
<h2>Produit Chimique</h2>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <p class="font-weight-bold">Voulez vous créer une nouvelle fiche ? </p>
    <p-inputSwitch name="boolean" [(ngModel)]="booleanChimique"></p-inputSwitch>
    <div *ngIf="booleanChimique">
        <p-card header="Nouvelle Fiche">
            <div class="ui-g">
                <div class="ui-g-4">
                    <div class="form-group">
                    </div><span>Un champ doit être au minimum rempli pour être valide</span></div>
                        <label class="font-weight-bold" jhiTranslate="projetChimieApp.ficheProduitChimique.cas"
                               for="field_cas">Cas</label>
                        <div>
                            <p-inputMask name="cas" id="field_cas" [(ngModel)]="ficheProduits.cas"
                                         mask="999999-99-9"></p-inputMask>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" jhiTranslate="projetChimieApp.ficheProduitChimique.nom"
                               for="field_nom">Nom</label>
                        <div>
                            <input pInputText name="nom" id="field_nom" type="text" pInputText
                                   [(ngModel)]="ficheProduits.nom">
                        </div>
                    </div>
                    <label class="font-weight-bold" jhiTranslate="projetChimieApp.ficheProduitChimique.formule"
                           for="field_formule">Formule brute</label>
                    <div>
                        <input name="formule" id="field_formule" type="text" pInputText name="formule"
                               [(ngModel)]="ficheProduits.formule"/>
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="projetChimieApp.ficheProduitChimique.acronyme"
                               for="field_acronyme">Acronyme</label>
                        <div>
                            <input type="text" pInputText name="acronyme" id="field_acronyme"
                                   [(ngModel)]="ficheProduits.acronyme" value="/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="projetChimieApp.ficheProduitChimique.mm"
                               for="field_mm">Mm</label>
                        <div>
                            <p-inputMask name="cas" name="mm" id="field_mm" [(ngModel)]="ficheProduits.mm"
                                         mask="9 999,99 g/mol"></p-inputMask>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="projetChimieApp.ficheProduitChimique.codeNacre"
                               for="field_codeNacre">Code Nacre</label>
                        <div>

                            <p-inputMask name="codeNacre" id="field_codeNacre"
                                         [(ngModel)]="ficheProduits.codeNacre" value="NA21"
                                         mask="aa99"></p-inputMask>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    <div *ngIf="!booleanChimique">
        <p-card header="Selection Fiche">
            <span jhiTranslate="projetChimieApp.ficheArticle.home.choix"></span>
            <div>
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.Cas"></span>
                </div>
                <p-dropdown name="Cas" [autoWidth]="false" [style]="{'width':'50%'}" [options]="CasSelect"
                            [(ngModel)]="ficheProduits"
                            filter="true">
                    <ng-template let-produit pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:right;margin-top:4px">{{produit.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div>
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.nom"></span>
                </div>
                <p-dropdown name="Nom" [autoWidth]="true" [style]="{'width':'50%'}" [options]="NomSelect"
                            [(ngModel)]="ficheProduits"
                            filter="true">
                    <ng-template let-produit pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:right;margin-top:4px">{{produit.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div>
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.formule"></span>
                    <label>Formule du produit : </label>
                </div>
                <p-dropdown name="Formule" [autoWidth]="false" [style]="{'width':'50%'}" [options]="formuleSelect"
                            [(ngModel)]="ficheProduits"
                            filter="true">
                    <ng-template let-produit pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div>{{produit.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div>
                <p></p>
                <p>Vous avez selectionné le produit :</p>
                <p></p>
                <p><span jhiTranslate="projetChimieApp.ficheArticle.Cas"></span> :
                    <strong>{{ficheProduits.cas}}</strong></p>
                <p><span jhiTranslate="projetChimieApp.ficheArticle.nom"></span> :
                    <strong>{{ficheProduits.nom}}</strong></p>
                <p><span jhiTranslate="projetChimieApp.ficheArticle.acronyme"></span> :
                    <strong>{{ficheProduits.acronyme}}</strong></p>
                <p><span jhiTranslate="projetChimieApp.ficheArticle.formule"></span> :
                    <strong>{{ficheProduits.formule}}</strong></p>
            </div>
        </p-card>
    </div>
    <p></p>
    <h2>Article</h2>
    <p-card>

        <div class="ui-g">
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.refArticle"></span>
                    <div>
                        <input [style]="{'width':'50%'}" name="ref" id="input" type="text" size="30" pInputText
                               [(ngModel)]="ficheArticle.refArticle"
                               required>
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.etatPhysique"></span>
                    <div>
                        <p-dropdown name="EtatSelect" [style]="{'width':'50%'}" [options]="EtatSelect"
                                    [(ngModel)]="ficheArticle.etatPhysique"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.disponibliteArticle"></span>
                    <div>
                        <p-dropdown name="dispo" [style]="{'width':'50%'}" [options]="DispoSelect"
                                    [(ngModel)]="ficheArticle.disponibliteArticle"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-4">
                <span jhiTranslate="projetChimieApp.ficheArticle.document"></span>
                <div>
                    <input [style]="{'width':'50%'}" name="doc" id="lien" type="text" size="30" pInputText
                           [(ngModel)]="documentInput">
                </div>
            </div>
            <div class="ui-g-4">
                <span jhiTranslate="projetChimieApp.ficheArticle.unite"></span>
                <div>
                    <div>
                        <p-dropdown name="unite" [style]="{'width':'50%'}" [options]="unitesSelect"
                                    [(ngModel)]="uniteArray"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                <label jhiTranslate="projetChimieApp.ficheArticle.classification"> Classification</label>
                <div>
                    <p-dropdown name="cla" [style]="{'width':'50%'}" [options]="classiSelect"
                                [(ngModel)]="classiArray"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <div><span jhiTranslate="projetChimieApp.ficheArticle.quantite"></span>
                    <div></div>
                    <input [style]="{'width':'50%'}" name="quantite" id="Quantité" type="text" size="30" pInputText
                           [(ngModel)]="ficheArticle.quantite">
                </div>
            </div>
            <div class="ui-g-4">
                <span jhiTranslate="projetChimieApp.ficheArticle.typeDesuivi"></span>
                <div>
                    <p-inputSwitch name="booleanSuivi" [(ngModel)]="ficheArticle.typeDesuivi"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.groupe.home.title"></span>
                    <div>
                        <p-multiSelect name="droit" [options]="droitSelect"
                                       [(ngModel)]="groupe"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <p-card>
        <div class="ui-g">
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.localisation.home.title"></span>
                </div>
                <div>
                    <p-dropdown name="localisation" [style]="{'width':'50%'}" (onChange)="selectionStockage()"
                                [options]="localisationSelect" [(ngModel)]="localisation"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.typeLieuStockage.home.title"></span>
                </div>
                <div>
                    <p-dropdown name="stockage" [style]="{'width':'50%'}" [options]="stockageSelect"
                                [(ngModel)]="ficheArticle.typeDeStockage"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.typeDeConditionnement.home.title"></span>
                </div>
                <div>
                    <p-dropdown name="condictionnement" [style]="{'width':'50%'}" [options]="condictionnementSelect"
                                [(ngModel)]="typeCond" ></p-dropdown>
                </div>
            </div>
        </div>
    </p-card>
    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit"
                class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>



