<h1></h1>
<jhi-alert-error></jhi-alert-error>
<h2><span jhiTranslate="projetChimieApp.ficheProduitChimique.home.title">Produit Chimique</span></h2>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <h2>Article</h2>
    <p-card>
        <div class="ui-g">
            <div class="ui-g-4">
                <div class="form-group">
                    <label class="font-weight-bold" jhiTranslate="projetChimieApp.ficheProduitChimique.cas"
                           for="field_cas">Cas</label>
                    <div>
                            <p-autoComplete [(ngModel)]="ficheProduits.cas" [suggestions]="filteredCASSingle" (completeMethod)="filterCASSingle($event)" field="CAS" [size]="30"
                            placeholder="CAS" [minLength]="1"></p-autoComplete>
                        <input pInputText name="cas" id="field_cas" type="text" pInputText
                                     [(ngModel)]="ficheProduits.cas">
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" jhiTranslate="projetChimieApp.ficheProduitChimique.nom"
                           for="field_nom">Nom</label>
                    <div>
                        <input pInputText name="nom" id="field_nom" type="text" pInputText
                               [(ngModel)]="ficheProduits.nom">
                    </div>
                </div>
                <label class="font-weight-bold" jhiTranslate="projetChimieApp.ficheProduitChimique.formule"
                       for="field_formule">Formule brute</label>
                <div>
                    <input name="formule" id="field_formule" type="text" pInputText name="formule"
                           [(ngModel)]="ficheProduits.formule"/>
                </div>
            </div>
            <div class="ui-g-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheProduitChimique.acronyme"
                           for="field_acronyme">Acronyme</label>
                    <div>
                        <input type="text" pInputText name="acronyme" id="field_acronyme"
                               [(ngModel)]="ficheProduits.acronyme" value="/">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheProduitChimique.mm"
                           for="field_mm">Mw</label>
                    <div>
 
                        <p-inputMask name="cas" name="mm" id="field_mm" [(ngModel)]="ficheProduits.mm"
                                     mask="9 999,99 g/mol"></p-inputMask>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheProduitChimique.codeNacre"
                           for="field_codeNacre">Code Nacre</label>
                    <div>

                        <p-inputMask [style]="{'width':'50%'}" name="codeNacre" id="field_codeNacre"
                                     [(ngModel)]="ficheProduits.codeNacre" value="NA21"
                                     mask="aa99" value="NA21"></p-inputMask>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.refArticle"></span>
                    <div>
                        <input [style]="{'width':'50%'}" name="ref" id="input" type="text" size="30" pInputText
                               [(ngModel)]="ficheArticle.refArticle"
                               required>
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.etatPhysique"></span>
                    <div>
                        <p-dropdown name="EtatSelect" [style]="{'width':'50%'}" [options]="EtatSelect"
                                    [(ngModel)]="ficheArticle.etatPhysique"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.ficheArticle.disponibliteArticle"></span>
                    <div>
                        <p-dropdown name="dispo" [style]="{'width':'50%'}" [options]="DispoSelect"
                                    [(ngModel)]="ficheArticle.disponibliteArticle"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-4">
                <span jhiTranslate="projetChimieApp.ficheArticle.document"></span>
                <div>
                    <input [style]="{'width':'50%'}" name="doc" id="lien" type="text" size="30" pInputText
                           [(ngModel)]="documentInput">
                </div>
            </div>
            <div class="ui-g-4">
                <span jhiTranslate="projetChimieApp.ficheArticle.unite"></span>
                <div>
                    <div>
                        <p-dropdown name="unite" [style]="{'width':'50%'}" [options]="unitesSelect"
                                    [(ngModel)]="uniteArray"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                <label jhiTranslate="projetChimieApp.ficheArticle.classification"> Classification</label>
                <div>
                    <p-multiSelect name="cla" [options]="classiSelect"
                                   [(ngModel)]="classiArray"></p-multiSelect>


                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <div><span jhiTranslate="projetChimieApp.ficheArticle.quantite"></span>
                    <div></div>
                    <input [style]="{'width':'50%'}" name="quantite" id="Quantité" type="text" size="30" pInputText
                           [(ngModel)]="ficheArticle.quantite">
                </div>
            </div>
            <div class="ui-g-4">
                <span jhiTranslate="projetChimieApp.ficheArticle.typeDesuivi"></span>
                <div>
                    <p-inputSwitch name="booleanSuivi" [(ngModel)]="ficheArticle.typeDesuivi"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.groupe.home.title"></span>
                    <div>
                        <p-multiSelect name="droit" [options]="droitSelect"
                                       [(ngModel)]="droit"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <p-card>
        <div class="ui-g">
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.localisation.home.title"></span>
                </div>
                <div>
                    <p-dropdown name="localisation" [style]="{'width':'50%'}"
                                [options]="localisationSelect" [(ngModel)]="localisation"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.typeLieuStockage.home.title"></span>
                </div>
                <div>
                    <p-dropdown name="stockage" [style]="{'width':'50%'}" [options]="stockageSelect"
                                [(ngModel)]="ficheArticle.typeLieuStockage"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-4">
                <div>
                    <span jhiTranslate="projetChimieApp.typeDeConditionnement.home.title"></span>
                </div>
                <div>
                    <p-dropdown name="condictionnement" [style]="{'width':'50%'}" [options]="condictionnementSelect"
                                [(ngModel)]="typeCond" ></p-dropdown>
                </div>
            </div>
        </div>
    </p-card>
    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit"
                class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
