<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-liste-groupe-invite-heading" jhiTranslate="projetChimieApp.listeGroupeInvite.home.createOrEditLabel">Create or edit a Liste Groupe Invite</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!listeGroupeInvite.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="listeGroupeInvite.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.listeGroupeInvite.nomGroupe" for="field_nomGroupe">Nom Groupe</label>
                    <input type="text" class="form-control" name="nomGroupe" id="field_nomGroupe"
                        [(ngModel)]="listeGroupeInvite.nomGroupe" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.listeGroupeInvite.groupe" for="field_groupe">Groupe</label>
                    <select class="form-control" id="field_groupe" name="groupe" [(ngModel)]="listeGroupeInvite.groupe" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupeOption.id === listeGroupeInvite.groupe?.id ? listeGroupeInvite.groupe : groupeOption" *ngFor="let groupeOption of groupes; trackBy: trackGroupeById">{{groupeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
