<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listeGroupeInvite">
            <h2><span jhiTranslate="projetChimieApp.listeGroupeInvite.detail.title">Liste Groupe Invite</span> {{listeGroupeInvite.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.listeGroupeInvite.nomGroupe">Nom Groupe</span></dt>
                <dd>
                    <span>{{listeGroupeInvite.nomGroupe}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.listeGroupeInvite.groupe">Groupe</span></dt>
                <dd>
                    <div *ngIf="listeGroupeInvite.groupe">
                        <a [routerLink]="['/groupe', listeGroupeInvite.groupe?.id, 'view']">{{listeGroupeInvite.groupe?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/liste-groupe-invite', listeGroupeInvite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
