<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ficheProduitChimique">
            <h2><span jhiTranslate="projetChimieApp.ficheProduitChimique.detail.title">Fiche Produit Chimique</span> {{ficheProduitChimique.nom}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.cas">Cas</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.cas}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.codeProduit">Code Produit</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.codeProduit}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.nom">Nom</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.nom}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.acronyme">Acronyme</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.acronyme}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.mm">Mm</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.mm}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.codeNacre">Code Nacre</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.codeNacre}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheProduitChimique.formule">Formule Chimique</span></dt>
                <dd>
                    <span>{{ficheProduitChimique.formule}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fiche-produit-chimique', ficheProduitChimique.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
