<form name="PrintForm">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
              (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-ficheProduitChimique-heading" jhiTranslate="projetChimieApp.ficheProduitChimique.delete.question" translateValues="{id: '{{ficheProduitChimique.id}}'}">Are you sure you want to delete this Fiche Produit Chimique?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button id="jhi-print-csv-ficheProduitChimique" type="submit" class="btn btn-info" (click)="printCsv()">
      <fa-icon [icon]="'csv'"></fa-icon>&nbsp;<span >EXCEL</span>
    </button>
    <button id="jhi-print-print-pdf-ficheProduitChimique" type="submit" class="btn btn-info" (click)="printPdf()">
      <fa-icon [icon]="'pdf'"></fa-icon>&nbsp;<span >PDF</span>
    </button>
  </div>
</form>
