<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ficheProduitChimique">
            <h2><span jhiTranslate="projetChimieApp.ficheProduitChimique.detail.title">Fiche Produit Chimique</span> {{ficheProduitChimique.nom}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">


                    <div class="ui-g">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    <span class="simple-Application" jhiTranslate="projetChimieApp.ficheProduitChimique.cas">Cas</span>
                                </div>
                                <div class="ui-g-8">
                                    <span class="bold-Application">{{ficheProduitChimique.cas}}</span>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    <span class="simple-Application" jhiTranslate="projetChimieApp.ficheProduitChimique.nom">Nom</span>
                                </div>
                                <div class="ui-g-8">
                                    <span class="bold-Application">{{ficheProduitChimique.nom}}</span>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                   <span class="simple-Application" jhiTranslate="projetChimieApp.ficheProduitChimique.acronyme">Acronyme</span>
                                </div>
                                <div class="ui-g-8">
                                    <span class="bold-Application">{{ficheProduitChimique.acronyme}}</span> </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                        <span class="simple-Application" jhiTranslate="projetChimieApp.ficheProduitChimique.mm">Mm</span>
                                </div>
                                <div class="ui-g-8">
                                    <span class="bold-Application">{{ficheProduitChimique.mm}}</span>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    <span class="simple-Application" jhiTranslate="projetChimieApp.ficheProduitChimique.codeNacre">Code nacre</span>
                                </div>
                                <div class="ui-g-8">
                                    <span class="bold-Application">{{ficheProduitChimique.codeNacre}}</span></div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                        <span class="simple-Application" jhiTranslate="projetChimieApp.ficheProduitChimique.formule">Formule brute</span>
                                </div>
                                <div class="ui-g-8">
                                    <span class="bold-Application">{{ficheProduitChimique.formule}}</span>
                                </div>
                            </div>
                        </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fiche-produit-chimique', ficheProduitChimique.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
