<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetChimieApp.ficheProduitChimique.home.title">Fiche Produit Chimiques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fiche-produit-chimique"
            [routerLink]="['/fiche-produit-chimique/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="projetChimieApp.ficheProduitChimique.home.createLabel">
                Create new Fiche Produit Chimique
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="ficheProduitChimiques">
        <p-table class="table table-striped" [columns]="cols" [value]="ficheProduitChimiques"
            sortMode="multiple" [paginator]="true" [rows]="15" #dt>
            <ng-template pTemplate="caption">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                <span jhiTranslate="projetChimieApp.ficheProduitChimique.cas">cas</span>
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="CasSelect" [(ngModel)]="cas" defaultLabel="All Cas"
                                    (onChange)="filter($event.value, 'cas', 'in')"></p-multiSelect>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                <span jhiTranslate="projetChimieApp.ficheProduitChimique.nom">Nom</span>
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="NomSelect" [(ngModel)]="nom" defaultLabel="All Nom"
                                    (onChange)="filter($event.value, 'nom', 'in')"></p-multiSelect>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                <span jhiTranslate="projetChimieApp.ficheProduitChimique.acronyme">acronyme</span>
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="AcronymeSelect" [(ngModel)]="acronyme"
                                    defaultLabel="All Acronym" (onChange)="filter($event.value, 'acronyme', 'in')">
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                <span jhiTranslate="projetChimieApp.ficheProduitChimique.formule">Formule</span>
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="formuleSelect" [(ngModel)]="formule"
                                    defaultLabel="All Formule" (onChange)="filter($event.value, 'formule', 'in')">
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                All CSV
                            </div>
                            <div class="ui-g-8">
                                <button type="button" pButton label="All Data" (click)="exportExcel(false)"
                                    style="float:left"></button>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                All CSV
                            </div>
                            <div class="ui-g-8">
                                <button type="button" pButton label="Selection Only" (click)="exportExcel(true)"
                                    style="float:right"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 10%;" [pSortableColumn]="'cas'">
                        <span jhiTranslate="projetChimieApp.ficheProduitChimique.cas">cas</span>
                        <p-sortIcon [field]="'cas'">c
                    </th>
                    <th style="width: 25%;"  [pSortableColumn]="'nom'">
                        <span jhiTranslate="projetChimieApp.ficheProduitChimique.nom">nom</span>
                        <p-sortIcon [field]="'nom'"></p-sortIcon>
                    </th>
                    <th style="width: 25%;"  [pSortableColumn]="'acronyme'">
                        <span jhiTranslate="projetChimieApp.ficheProduitChimique.acronyme">acronyme</span>
                        <p-sortIcon [field]="'acronyme'"></p-sortIcon>
                    </th>
                    <th style="width: 10%;" [pSortableColumn]="'formule'">
                        <span jhiTranslate="projetChimieApp.ficheProduitChimique.formule">formule</span>
                        <p-sortIcon [field]="'formule'"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td><a [routerLink]="['/fiche-produit-chimique', rowData.id, 'view' ]">{{rowData.cas}}</a></td>
                    <td><a [routerLink]="['/fiche-produit-chimique', rowData.id, 'view' ]">{{rowData.nom}}</a></td>
                    <td><a [routerLink]="['/fiche-produit-chimique', rowData.id, 'view' ]">{{rowData.acronyme}}</a>
                    </td>
                    <td><a [routerLink]="['/fiche-produit-chimique', rowData.id, 'view' ]">{{rowData.formule}}</a></td>

                    <td>
                        <div class="table table-striped">
                            <button type="submit" [routerLink]="['/fiche-produit-chimique', rowData.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                ngbTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/fiche-produit-chimique', rowData.id, 'edit' ]"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTIONNAIRE_DE_BASE', 'VALIDEUR']"
                                type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fiche-produit-chimique/'+ rowData.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
