<div class="ui-g">
    <div class="ui-g-2">
        <h4> <span jhiTranslate="home.footer.admin">Administrateur :</span></h4>
        <p align="justify">
        <p><b>M. Reynaldo Thibaut</b></p>
        <a href="mailto:thibault.reynaldo@univ-rennes1.fr?Subject=Application_Chimie" target="_top">Send Mail</a>
    </div>
    <div class="ui-g-4"><h4>Description :</h4>
        <p align="justify"> <span jhiTranslate="home.footer.description"></span>
        </p></div>

    <div class="ui-g-6">
        <h4> <span jhiTranslate="home.footer.partenaires">Bienvenue</span></h4>
                <span class="logo-img1 img-fluid rounded"></span>
        </div>
</div>
<p align="center">Copyright © 2019 ISTIC - Master 1 Miage - Université de Rennes 1</p>
