/* ==========================================================================
Footer
========================================================================== */

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
    height: 150px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logoisticfr_0.png') no-repeat center center;
    background-size: contain;
    margin-left: 400px;
}

.logo-img2 {
    height: 150px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/Logo_chimie.jpg') no-repeat center center;
    background-size: contain;
}

.logo-img3 {
    height: 150px;
    width: 230px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/SciencesChimiques.jpg') no-repeat center center;
    background-size: contain;
}
