<div class="ui-g">
    <div class="ui-g-2">
        <h4>Administrateur :</h4>
        <p align="justify">
        <p><b>M. Reynaldo Thibaut</b></p>
        <a href="mailto:thibault.reynaldo@univ-rennes1.fr?Subject=Application_Chimie" target="_top">Send Mail</a>
    </div>
    <div class="ui-g-4"><h4>Description :</h4>
        <p align="justify">L'application ISCR est là pour organiser les stockages de produits chimiques des différents
            laboratoires de
            L'institut des Sciences Chimiques de Rennes.

            Ici vous pourrez donc effectuer plusieurs tâches comme consulter un article présent dans la base de données,
            effectuer un emprunt, commander un article, etc ...
        </p></div>

    <div class="ui-g-6">
        <h4>Partenaires : </h4>
                <span class="logo-img1 img-fluid rounded"></span>
        </div>
</div>
<p align="center">Copyright © 2019 ISTIC - Master 1 Miage - Université de Rennes 1</p>
