<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="localisation">
            <h2><span jhiTranslate="projetChimieApp.localisation.detail.title">Localisation</span> {{localisation.adresse}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.localisation.adresse">Adresse</span></dt>
                <dd>
                    <span>{{localisation.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.localisation.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{localisation.codePostal}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.localisation.ville">Ville</span></dt>
                <dd>
                    <span>{{localisation.ville}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.localisation.pays">Pays</span></dt>
                <dd>
                    <span>{{localisation.pays}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.localisation.stock">Stock de sécurité</span></dt>
                <dd>
                    <span>{{localisation.stock}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.localisation.ficheArticle">Fiche Article</span></dt>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/localisation', localisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
