<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetChimieApp.localisation.home.title">Localisations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localisation" [routerLink]="['/localisation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetChimieApp.localisation.home.createLabel">
            Create new Localisation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="localisations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="projetChimieApp.localisation.adresse">Adresse</span></th>
            <th><span jhiTranslate="projetChimieApp.localisation.codePostal">Code Postal</span></th>
            <th><span jhiTranslate="projetChimieApp.localisation.ville">Ville</span></th>
            <th><span jhiTranslate="projetChimieApp.localisation.pays">Pays</span></th>
            <th><span jhiTranslate="projetChimieApp.localisation.quantite">Quantite</span></th>
            <th><span jhiTranslate="projetChimieApp.localisation.ficheArticle">Fiche Article</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localisation of localisations ;trackBy: trackId">
                <td><a [routerLink]="['/localisation', localisation.id, 'view' ]">{{localisation.adresse}}</a></td>
                <td>{{localisation.codePostal}}</td>
                <td>{{localisation.ville}}</td>
                <td>{{localisation.pays}}</td>
                <td>{{localisation.quantite}}</td>
                <td>
                    <div *ngIf="localisation.ficheArticle">
                        <a [routerLink]="['../fiche-article', localisation.ficheArticle?.id, 'view' ]" >{{localisation.ficheArticle?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'localisation/'+ localisation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
