<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-de-conditionnement-heading" jhiTranslate="projetChimieApp.typeDeConditionnement.home.createOrEditLabel">Create or edit a Type De Conditionnement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!typeDeConditionnement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="typeDeConditionnement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.typeDeConditionnement.libelleConditionnement" for="field_libelleConditionnement">Libelle Conditionnement</label>
                    <input type="text" class="form-control" name="libelleConditionnement" id="field_libelleConditionnement"
                        [(ngModel)]="typeDeConditionnement.libelleConditionnement" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.typeDeConditionnement.ficheArticle" for="field_ficheArticle">Fiche Article</label>
                    <select class="form-control" id="field_ficheArticle" name="ficheArticle" [(ngModel)]="typeDeConditionnement.ficheArticle" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ficheArticleOption.id === typeDeConditionnement.ficheArticle?.id ? typeDeConditionnement.ficheArticle : ficheArticleOption" *ngFor="let ficheArticleOption of fichearticles; trackBy: trackFicheArticleById">{{ficheArticleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
