<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeLieuStockage">
            <h2><span jhiTranslate="projetChimieApp.typeLieuStockage.detail.title">Type Lieu Stockage</span> {{typeLieuStockage.libelleLieu}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.typeLieuStockage.libelleLieu">Libelle Lieu</span></dt>
                <dd>
                    <span>{{typeLieuStockage.libelleLieu}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.typeLieuStockage.localisation">Localisation</span></dt>
                <dd>
                    <div *ngIf="typeLieuStockage.localisation">
                        <a [routerLink]="['/localisation', typeLieuStockage.localisation?.id, 'view']">{{typeLieuStockage.localisation?.adresse}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-lieu-stockage', typeLieuStockage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
