<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ficheEmpruntProduit">
            <h2><span jhiTranslate="projetChimieApp.ficheEmpruntProduit.detail.title">Fiche Emprunt Produit</span> {{ficheEmpruntProduit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.ficheEmpruntProduit.quantite">Quantite</span></dt>
                <dd>
                    <span>{{ficheEmpruntProduit.quantite}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheEmpruntProduit.dateEmprunt">Date Emprunt</span></dt>
                <dd>
                    <span>{{ficheEmpruntProduit.dateEmprunt}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.ficheEmpruntProduit.ficheArticle">Fiche Article</span></dt>
                <dd>
                    <div *ngIf="ficheEmpruntProduit.ficheArticle">
                        <a [routerLink]="['/fiche-article', ficheEmpruntProduit.ficheArticle?.id, 'view']">{{ficheEmpruntProduit.ficheArticle?.codeBarre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.userManagement.login">Login</span></dt>
                <dd>
                    <div *ngIf="ficheEmpruntProduit.user">
                        {{ficheEmpruntProduit.user.login}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fiche-emprunt-produit', ficheEmpruntProduit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
