<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listeCmr">
            <h2><span jhiTranslate="projetChimieApp.listeCmr.detail.title">Liste Cmr</span> {{listeCmr.refListe}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.listeCmr.ficheProduitChimique">Fiche Produit Chimique</span></dt>
                <dd>
                    <div *ngIf="listeCmr.ficheProduitChimique">
                        <a [routerLink]="['/fiche-produit-chimique', listeCmr.ficheProduitChimique?.id, 'view']">{{listeCmr.ficheProduitChimique?.cas}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/liste-cmr', listeCmr.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
