<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetChimieApp.ficheArticle.home.title">Fiche Articles</span>
      <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fiche-article" [routerLink]="['/processus-metier']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetChimieApp.ficheArticle.home.createLabel">
            Create new Fiche Article
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
                        <p-multiSelect [(ngModel)]="classification" [options]="classificationO" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>-->
                          <p-multiSelect  [(ngModel)]="disponibliteArticle" [options]="disponibliteArticleO" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect  [options]="nomO"  [(ngModel)]="nom" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect  [options]="quantiteO"  [(ngModel)]="quantite" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect  [options]="acronymeO"  [(ngModel)]="acronyme" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect  [options]="casO"  [(ngModel)]="cas" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect  [options]="refArticleO"  [(ngModel)]="refArticle" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                      
    <div class="table-responsive"  *ngIf="ficheArticles">
        <p-table class="table table-striped" [columns]="cols" [value]="ficheArticles" sortMode="multiple" #dt  >
            <ng-template pTemplate="header" let-columns>
                <tr>
                   <th *ngFor="let col of columns" [pSortableColumn]="col.field" (input)="dt.filter($event.value, col.field, 'in')">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                   <tr>
                      <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <p-multiSelect *ngSwitchCase="'classification'" [(ngModel)]="classification" [options]="classificationO" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>-->
                          <p-multiSelect *ngSwitchCase="'disponibliteArticle'" [(ngModel)]="disponibliteArticle" [options]="disponibliteArticleO" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect *ngSwitchCase="'nom'" [options]="nomO"  [(ngModel)]="nom" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect *ngSwitchCase="'quantite'" [options]="quantiteO"  [(ngModel)]="quantite" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect *ngSwitchCase="'acronyme'" [options]="acronymeO"  [(ngModel)]="acronyme" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect *ngSwitchCase="'cas'" [options]="casO"  [(ngModel)]="cas" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                          <p-multiSelect *ngSwitchCase="'refArticle'" [options]="refArticleO"  [(ngModel)]="refArticle" defaultLabel="All disponibilite" (onChange)="filtre($event.value, col.field, 'in')"></p-multiSelect>
                      </td>
                   </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td><a [routerLink]="['/fiche-article', rowData.id, 'view' ]">{{rowData.refArticle}}</a></td>
                    <td>
                        <a class="form-control-static" [routerLink]="['../fiche-produit-chimique', rowData.ficheProduitChimiques[0]?.id, 'view' ]">{{rowData.ficheProduitChimiques[0].cas}}</a>
                    </td>
                    <td>
                    <span *ngFor="let ficheProduitChimique of rowData.ficheProduitChimiques; let last = last">
                            <a class="form-control-static" [routerLink]="['../fiche-produit-chimique', ficheProduitChimique?.id, 'view' ]">{{ficheProduitChimique.nom}}</a>{{last ? '' : ', '}}
                        </span>
                    </td>

                    <td>
                    <span *ngFor="let ficheProduitChimique of rowData.ficheProduitChimiques; let last = last">
                            <a class="form-control-static" [routerLink]="['../fiche-produit-chimique', ficheProduitChimique?.id, 'view' ]">{{ficheProduitChimique.acronyme}}</a>{{last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                    <span *ngFor="let classification of rowData.classifications; let last = last">
                            <a class="form-control-static" [routerLink]="['../classification', classification?.id, 'view' ]">{{classification.nomClassification}}</a>{{last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                    <span *ngFor="let localisation  of rowData.localisations; let last = last">
                            <a class="form-control-static" [routerLink]="['../localisation', localisation?.id, 'view' ]">{{localisation.adresse}}</a>{{last ? '' : ', '}}
                        </span>
                    </td>
                    <td jhiTranslate="{{'projetChimieApp.DisponibliteArticle.' + rowData.disponibliteArticle}}">{{rowData.disponibliteArticle}}</td>
                    <td jhiTranslate="{{'projetChimieApp.DisponibliteArticle.' + rowData.disponibliteArticle}}">{{rowData.typeDeStockage.localisation.adresse}}</td>
                    <td>
                        <div class="table table-striped">
                            <button type="submit"
                                    [routerLink]="['/fiche-article', rowData.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/fiche-article', rowData.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTIONNAIRE_DE_BASE', 'VALIDEUR']" type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'fiche-article/'+ rowData.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
