<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fiche-article-heading" jhiTranslate="projetChimieApp.ficheArticle.home.createOrEditLabel">Create or edit a Fiche Article</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <span class="ui-float-label">
                        <input type="text" size="30" name="refArticle" id="field_refArticle2"
                               [(ngModel)]="ficheArticle.refArticle" pInputText required>
                        <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.refArticle">Reference Article *</label>
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.etatPhysique">Etat Physique</label>
                    <p-dropdown [options]="getOptionsEtat()"  name="etat" [(ngModel)]="ficheArticle.etatPhysique" [style]="{'width':'150px'}" filter="true">
                        <ng-template let-uni pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div>{{uni.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
               </div>
               <div class="form-group">
                   <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.codeInterne" for="field_codeInterne">Code Interne</label>
                   <input type="text" class="form-control" name="codeInterne" id="field_codeInterne"
                       [(ngModel)]="ficheArticle.codeInterne" />
               </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.codeBarre" for="field_codeBarre">Code Barre</label>
                    <input type="text" class="form-control" name="codeBarre" id="field_codeBarre"
                        [(ngModel)]="ficheArticle.codeBarre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.disponibliteArticle" for="field_disponibliteArticle">Disponiblite Article *</label>
                    <select class="form-control" name="disponibliteArticle" [(ngModel)]="ficheArticle.disponibliteArticle" id="field_disponibliteArticle" required>
                        <option value="DISPONIBLE">{{'projetChimieApp.DisponibliteArticle.DISPONIBLE' | translate}}</option>
                        <option value="INDISPONIBLE">{{'projetChimieApp.DisponibliteArticle.INDISPONIBLE' | translate}}</option>
                        <option value="FINDESTOCK">{{'projetChimieApp.DisponibliteArticle.FINDESTOCK' | translate}}</option>
                        <option value="ENCOMMANDE">{{'projetChimieApp.DisponibliteArticle.ENCOMMANDE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.typeDesuivi"
                           for="field_typeDesuivi">Type De suivi</label>
                </div> <div class="form-group">
                <p-inputSwitch name="typeDesuivi" id="field_typeDesuivi" [(ngModel)]="ficheArticle.typeDesuivi"></p-inputSwitch>

            </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.accessibilite"
                           for="field_accessibilite">Accessibilite</label>
                </div> <div class="form-group">
                <p-inputSwitch name="accessibilite" id="field_accessibilite"
                               [(ngModel)]="ficheArticle.accessibilite" ></p-inputSwitch>

            </div>

                <div class="form-group">
                    <label jhiTranslate="projetChimieApp.ficheArticle.document">Document</label>
                </div>
                <div class="form-group">
                    <p-multiSelect [options]="documentSelected()"  name="doc" [(ngModel)]="ficheArticle.documents" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                </div>

                <div class="form-group">
                        <label jhiTranslate="projetChimieApp.ficheArticle.quantite">Quantité *</label>
                </div>
                <div class="form-group">
                        <input type="text" size="30" name="quantite" id="field_quantite"
                               [(ngModel)]="ficheArticle.quantite" pInputText required>
                </div>
                <div class="form-group">
                    <label jhiTranslate="projetChimieApp.ficheArticle.unite" for="field_unite">Unite *</label>
                    <select class="form-control" id="field_unite" multiple name="unite" [(ngModel)]="ficheArticle.unites">
                        <option [ngValue]="getSelected(ficheArticle.unites, uniteOption)" *ngFor="let uniteOption of unites; trackBy: trackUniteById">{{uniteOption.id}}</option>
                    </select>
                    <p-dropdown [options]="getOptions()"  name="option" [(ngModel)]="ficheArticle.unites" [style]="{'width':'150px'}" filter="true" required>
                        <ng-template let-uni pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div>{{uni.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>



                <div class="form-group">
                    <label jhiTranslate="projetChimieApp.ficheArticle.ficheProduitChimique" for="field_ficheProduitChimique">Fiche Produit Chimique *</label>
                    <select class="form-control" id="field_ficheProduitChimique" multiple name="ficheProduitChimique" [(ngModel)]="ficheArticle.ficheProduitChimiques" required>
                        <option [ngValue]="getSelected(ficheArticle.ficheProduitChimiques, ficheProduitChimiqueOption)" *ngFor="let ficheProduitChimiqueOption of ficheproduitchimiques; trackBy: trackFicheProduitChimiqueById">{{ficheProduitChimiqueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="projetChimieApp.ficheArticle.classification" >Classification *</label>
                </div><div>
                <p-multiSelect [options]="classiSelected()" name="cla" [(ngModel)]="ficheArticle.classifications" [panelStyle]="{minWidth:'12em'}" required></p-multiSelect>
            </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheArticle.droitDacceeProduit" for="field_droitDacceeProduit">Droit Daccee Produit</label>
                    <select class="form-control" id="field_droitDacceeProduit" name="droitDacceeProduit" [(ngModel)]="ficheArticle.droitDacceeProduit" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="droitDacceeProduitOption.id === ficheArticle.droitDacceeProduit?.id ? ficheArticle.droitDacceeProduit : droitDacceeProduitOption" *ngFor="let droitDacceeProduitOption of droitdacceeproduits; trackBy: trackDroitDacceeProduitById">{{droitDacceeProduitOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
