<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetChimieApp.ficheDeCommandeProduit.home.title">Fiche De Commande Produits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fiche-de-commande-produit" [routerLink]="['/fiche-de-commande-produit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetChimieApp.ficheDeCommandeProduit.home.createLabel">
            Create new Fiche De Commande Produit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ficheDeCommandeProduits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="projetChimieApp.ficheDeCommandeProduit.quantite">Quantite</span></th>
            <th><span jhiTranslate="projetChimieApp.ficheDeCommandeProduit.dateDeCommande">Date De Commande</span></th>
            <th><span jhiTranslate="projetChimieApp.ficheDeCommandeProduit.dateLivraison">Date Livraison</span></th>
            <th><span jhiTranslate="projetChimieApp.ficheDeCommandeProduit.fournisseur">Fournisseur</span></th>
            <th><span jhiTranslate="projetChimieApp.ficheDeCommandeProduit.ficheArticle">Fiche Article</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ficheDeCommandeProduit of ficheDeCommandeProduits ;trackBy: trackId">
                <td><a [routerLink]="['/fiche-de-commande-produit', ficheDeCommandeProduit.id, 'view' ]">{{ficheDeCommandeProduit.id}}</a></td>
                <td>{{ficheDeCommandeProduit.quantite}}</td>
                <td>{{ficheDeCommandeProduit.dateDeCommande | date:'mediumDate'}}</td>
                <td>{{ficheDeCommandeProduit.dateLivraison | date:'mediumDate'}}</td>
                <td>
                    <span *ngFor="let fournisseur of ficheDeCommandeProduit.fournisseurs; let last = last">
                            <a class="form-control-static" [routerLink]="['../fournisseur', fournisseur?.id, 'view' ]">{{fournisseur.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="ficheDeCommandeProduit.ficheArticle">
                        <a [routerLink]="['../fiche-article', ficheDeCommandeProduit.ficheArticle?.id, 'view' ]" >{{ficheDeCommandeProduit.ficheArticle?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fiche-de-commande-produit', ficheDeCommandeProduit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fiche-de-commande-produit', ficheDeCommandeProduit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fiche-de-commande-produit/'+ ficheDeCommandeProduit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
