<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fiche-de-commande-produit-heading" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.home.createOrEditLabel">Create or edit a Fiche De Commande Produit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.quantite" for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                        [(ngModel)]="ficheDeCommandeProduit.quantite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.dateDeCommande" for="field_dateDeCommande">Date De Commande</label>
                    <div class="input-group">
                        <input id="field_dateDeCommande" type="text" class="form-control" name="dateDeCommande" ngbDatepicker  #dateDeCommandeDp="ngbDatepicker" [(ngModel)]="ficheDeCommandeProduit.dateDeCommande"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDeCommandeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.dateLivraison" for="field_dateLivraison">Date Livraison</label>
                    <div class="input-group">
                        <input id="field_dateLivraison" type="text" class="form-control" name="dateLivraison" ngbDatepicker  #dateLivraisonDp="ngbDatepicker" [(ngModel)]="ficheDeCommandeProduit.dateLivraison"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="projetChimieApp.ficheDeCommandeProduit.fournisseur" for="field_fournisseur">Fournisseur</label>
                    <select class="form-control" id="field_fournisseur" multiple name="fournisseur" [(ngModel)]="ficheDeCommandeProduit.fournisseurs">
                        <option [ngValue]="getSelected(ficheDeCommandeProduit.fournisseurs, fournisseurOption)" *ngFor="let fournisseurOption of fournisseurs; trackBy: trackFournisseurById">{{fournisseurOption.nomFournisseur}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.ficheArticle" for="field_ficheArticle">Fiche Article</label>
                    <select class="form-control" id="field_ficheArticle" name="ficheArticle" [(ngModel)]="ficheDeCommandeProduit.ficheArticle" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ficheArticleOption.id === ficheDeCommandeProduit.ficheArticle?.id ? ficheDeCommandeProduit.ficheArticle : ficheArticleOption" *ngFor="let ficheArticleOption of fichearticles; trackBy: trackFicheArticleById">{{ficheArticleOption.refArticle}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
