<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fiche-de-commande-produit-heading"
                jhiTranslate="projetChimieApp.ficheDeCommandeProduit.home.createOrEditLabel">Create or edit a Fiche De
                Commande Produit</h2>

            <div class="first">
                <label class="form-control-label" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.ficheArticle">fiche
                    Article</label>
                <div>
                    <p-dropdown name="article" [options]="articleOption" size="25" [(ngModel)]="ficheArticle"
                                filter="true"
                                (onChange)="actuUnite()" required>

                        <ng-template let-art pTemplate="item">
                            <div class="ui-helper-clearfix" style="vertical-align:middle;height: 25px;">
                                <div style="font-size:14px;float:right;margin-top:4px">{{art.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.ficheDeCommandeProduit.quantite">Quantite</label>
                    <div><input name="quantite" type="text" [(ngModel)]="ficheDeCommandeProduit.quantite" size="30"
                                pInputText pKeyFilter="int"
                                placeholder="Quantite" required>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="projetChimieApp.ficheDeCommandeProduit.fournisseur">Fournisseur</label>
                    <div>

                        <p-dropdown name="fourni" [options]="fournisseurOption" size="30"
                                    [(ngModel)]="fournisseurs" [style]="{'width':'150px'}"
                                    filter="true" required>
                            <ng-template let-uni pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div>{{uni.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
