<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groupe">
            <h2><span jhiTranslate="projetChimieApp.groupe.detail.title">Groupe</span> {{groupe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetChimieApp.groupe.nomGroupe">Nom Groupe</span></dt>
                <dd>
                    <span>{{groupe.nomGroupe}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.groupe.nombreMembre">Nombre Membre</span></dt>
                <dd>
                    <span>{{groupe.nombreMembre}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.groupe.localGroupe">Local Groupe</span></dt>
                <dd>
                    <span>{{groupe.localGroupe}}</span>
                </dd>
                <dt><span jhiTranslate="projetChimieApp.groupe.droitDacceeProduit">Droit Daccee Produit</span></dt>
                <dd>
                    <div *ngIf="groupe.droitDacceeProduit">
                        <a [routerLink]="['/droit-daccee-produit', groupe.droitDacceeProduit?.id, 'view']">{{groupe.droitDacceeProduit?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/groupe', groupe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
