<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-groupe-heading" jhiTranslate="projetChimieApp.groupe.home.createOrEditLabel">Create or edit a Groupe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!groupe.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="groupe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.groupe.nomGroupe" for="field_nomGroupe">Nom Groupe</label>
                    <input type="text" class="form-control" name="nomGroupe" id="field_nomGroupe"
                        [(ngModel)]="groupe.nomGroupe" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.groupe.nombreMembre" for="field_nombreMembre">Nombre Membre</label>
                    <input type="number" class="form-control" name="nombreMembre" id="field_nombreMembre"
                        [(ngModel)]="groupe.nombreMembre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.groupe.localGroupe" for="field_localGroupe">Local Groupe</label>
                    <input type="text" class="form-control" name="localGroupe" id="field_localGroupe"
                        [(ngModel)]="groupe.localGroupe" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetChimieApp.groupe.droitDacceeProduit" for="field_droitDacceeProduit">Droit Daccee Produit</label>
                    <select class="form-control" id="field_droitDacceeProduit" name="droitDacceeProduit" [(ngModel)]="groupe.droitDacceeProduit" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="droitDacceeProduitOption.id === groupe.droitDacceeProduit?.id ? groupe.droitDacceeProduit : droitDacceeProduitOption" *ngFor="let droitDacceeProduitOption of droitdacceeproduits; trackBy: trackDroitDacceeProduitById">{{droitDacceeProduitOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
