<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetChimieApp.mailGestionnaire.home.title">Mail Gestionnaires</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mail-gestionnaire" [routerLink]="['/mail-gestionnaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetChimieApp.mailGestionnaire.home.createLabel">
            Create new Mail Gestionnaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mailGestionnaires">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="projetChimieApp.mailGestionnaire.mail">Mail</span></th>
            <th><span jhiTranslate="projetChimieApp.mailGestionnaire.groupe">Groupe</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mailGestionnaire of mailGestionnaires ;trackBy: trackId">
                <td><a [routerLink]="['/mail-gestionnaire', mailGestionnaire.id, 'view' ]">{{mailGestionnaire.mail}}</a></td>
                <td>
                    <div *ngIf="mailGestionnaire.groupe">
                        <a [routerLink]="['../groupe', mailGestionnaire.groupe?.id, 'view' ]" >{{mailGestionnaire.groupe?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mail-gestionnaire', mailGestionnaire.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mail-gestionnaire', mailGestionnaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mail-gestionnaire/'+ mailGestionnaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
