/* ==========================================================================
Main page styles
========================================================================== */

.logo-img {
    height: 150px;
    width: 300px;
    display: inline-block;
    background: url('../../content/images/logoisticfr_0.png') no-repeat center center;
    background-size: contain;
}

.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
