<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-tabMenu [model]="empruntRetour" [activeItem]="activeItem"></p-tabMenu>

    <div>

        <p></p>
        <div>
            <span>Sesam</span></div>
        <div>
            <input type="number" [(ngModel)]="numberUser" name="user" id="input" type="user" size="30" pInputText>
        </div>
        <div class="first" *ngIf="choix">
            <h3 class="first"><span jhiTranslate="global.menu.research/borrowing.emprunt/retour.retour">veuillez entrer l'article à retourner :</span></h3>
        </div>
        <div class="first" *ngIf="!choix">
            <h3 class="first"><span jhiTranslate="global.menu.research/borrowing.emprunt/retour.emprunt">veuillez entrer l'article à emprunter :</span></h3>
        </div>
        <div class="first">
            <p-dropdown [options]="articleOption" size="25" [(ngModel)]="ficheArticle" filter="true" (onChange)="actuUnite();actuDispon()" required>

                <ng-template let-art pTemplate="item">
                    <div class="ui-helper-clearfix" style="vertical-align:middle;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{art.label}}</div>
                    </div>
                </ng-template>
                    </p-dropdown>
            <p></p>
            <div>
                <div>
                    <span jhiTranslate="global.menu.research/borrowing.emprunt/retour.Nom"> Nom du Produit :</span>
                </div>
                <div>
                    {{ficheArticle?.ficheProduitChimiques[0]?.nom}}
                </div>
                <div>
                    <span jhiTranslate="global.menu.research/borrowing.emprunt/retour.CAS">CAS :</span>
                </div>
                <div>
                    {{ficheArticle?.ficheProduitChimiques[0]?.cas}}
                </div>
                <div>
                    <span jhiTranslate="global.menu.research/borrowing.emprunt/retour.formule">Formule :</span>
                </div>
                <div>
                    {{ficheArticle?.ficheProduitChimiques[0]?.formule}}
                </div>
                <div>
                    <span jhiTranslate="global.menu.research/borrowing.emprunt/retour.acronyme">Acronyme :</span>
                </div>
                <div>
                    {{ficheArticle?.ficheProduitChimiques[0]?.acronyme}}
                </div>
            </div>
        </div>
        <div class="first" *ngIf="dispo==false">
            <h3 style="font-size: small;color: red" class="first"><span jhiTranslate="global.menu.research/borrowing.emprunt/retour.NonDispo">L'article n'est plus disponible:</span></h3>
        </div>
        <div class="first" *ngIf="choix">
            <h3 class="first"><span jhiTranslate="global.menu.research/borrowing.emprunt/retour.saisieR">Saisir la quantité retournée (pour alerter des fins de stock) :</span></h3>
        </div>
        <div class="first" *ngIf="!choix">
            <h3 class="first"><span jhiTranslate="global.menu.research/borrowing.emprunt/retour.saisieE">Saisir la quantité initial :</span></h3>
        </div>
        <div class="first">
            <h3 class="first"><span jhiTranslate="global.menu.research/borrowing.emprunt/retour.quantite">Quantité: {{quantite}} {{unite}}</span></h3>
            <input type="text" pInputText [(ngModel)]="quantite" />
            <p-slider [(ngModel)]="quantite" [style]="{'width':'14em'}" [max]="1000"></p-slider>
        </div>
        <p></p>
        <div class="first">
            <button pButton class="ui-button-success" label="Back" class="nav-link" routerLink="/">
            </button>
            <button pButton  (click)="save()"  *ngIf="dispo" type="submit" id="save-entity" label="Save"></button>
            <button pButton  class="ui-button-success" *ngIf="commande" label="Commander" class="nav-link" routerLink="/fiche-de-commande-produit/new" label="Demande_Commander"></button>
        </div>
    </div>
